<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>Contact | E-Scooter Blog</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="E-Scooter Blog" />
  <meta name="robots" content="index, follow">

  <meta name="title" content="Contact | E-Scooter Blog">
  <meta name="description"
    content="Contact us for any questions or suggestions. We're here to help you understand every E-Scooter Blog better.">


  <link rel="canonical" href="https://e-scooter.blog/contact" />

  <meta property="og:title" content="Contact | E-Scooter Blog" />
  <meta property="og:description"
    content="Contact us for any questions or suggestions. We're here to help you understand every E-Scooter Blog better." />
  <meta property="og:image" content="https://e-scooter.blog/uploads/logo.jpg" />
  <meta property="og:url" content="https://e-scooter.blog/contact" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Contact | E-Scooter Blog" />

  <meta name="twitter:title" content="Contact | E-Scooter Blog">
  <meta name="twitter:description"
    content="Contact us for any questions or suggestions. We're here to help you understand every E-Scooter Blog better.">
  <meta name="twitter:image" content="https://e-scooter.blog/uploads/logo.jpg">


  <link rel="stylesheet" href="/css/style.css" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/all.min.css" crossorigin="anonymous" />

  <!-- Google Fonts -->
  <link rel="stylesheet" href="/css/fonts.css" />

  <meta name="google-site-verification" content="_ZuuY2jNs-2lytt1iVDMVNSUgj8Jsw8MRkke9Kph0p4" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BD6TJVQC24"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-BD6TJVQC24');
  </script>

  <meta name="yandex-verification" content="44f08ebc53b9aa57" />

</head>

<body>

  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="header-content">
        <div class="logo mb-2">
          <a href="/"><img src="../uploads/logo.jpg" alt="E-Scooter Logo" width="250" height="50"
              fetchpriority="high"></a>
        </div>
        <p class="header-subtitle">Your Trusted Source for Electric Scooter and EV News</p>
      </div>
    </div>
  </header>

  <!-- Contact Section -->
  <section class="contact-section">

    <!-- Form Area -->
    <div class="contact-form">
      <form>
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" placeholder="Enter first name" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" placeholder="Enter last name" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Enter your email" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" class="form-control" placeholder="Enter your phone number" required>
          </div>
        </div>

        <div class="form-group">
          <label for="message">What do you have in mind</label>
          <textarea id="message" class="form-control" rows="5" placeholder="Please enter query..." required></textarea>
        </div>

        <button type="submit" class="btn-submit">Submit</button>
      </form>
    </div>

    <!-- Info Area -->
    <div class="contact-info">
      <h2 class="contact_title">Contact us</h2>
      <p class="contact_subtitle">We're here to help you understand every E-Scooter better.</p>
      <div class="contact_icon">
        <p><i class="fas fa-phone"></i> +91 78619 5484</p>
        <p><i class="fas fa-envelope"></i> support@e-scooter.blog</p>
        <p><i class="fas fa-map-marker-alt"></i> 456 Knowledge Lane, Edu City, India</p>
      </div>
    </div>

  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-brand">
          <div class="footer-logo">
            <a href="/"><img src="../uploads/logo.jpg" alt="E-Scooter Logo"></a>
          </div>
          <p>Your Trusted Source for Electric Scooter and EV News</p>
        </div>
        <div class="footer-bottom">
          <div class="footer-links">
            <span>© 2025 <b>e-scooter.blog</b> |</span>
            <a href="/about">About</a> |
            <a href="/contact">Contact</a> |
            <a href="/privacy-policy">Privacy Policy</a> |
            <a href="/terms-of-use">Terms of Use</a> |
            <a href="/sitemap">Sitemap</a>
          </div>
          <div class="footer-social">
            <a href="https://medium.com/@escooterblognews" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-medium"></i></a>
            <a href="https://x.com/escooter01" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@e-scooter-01" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-youtube"></i></a>
            <a href="https://www.quora.com/profile/E-Scooter-4" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-quora"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>